
.bg-switcher {
    width: 100vw;
    height: 1000px;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bg {
    color: blue;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}